@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Poppins:wght@200;300;400;500;600;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Roboto', sans-serif;
}

.nextui-c-ewlcFW {
	overflow: hidden;
	padding: 30px;
	margin: 0;
}

.nextui-c-iTPCAT-VujqA-disableBlur-false
	.nextui-c-jklhtj:where(.nextui-c-ewlcFW) {
	background: none;
	backdrop-filter: none;
}

.nextui-c-gpbAMl .line {
	height: 2px;
}
.nextui-c-gpbAMl .line {
	height: 2px;
}

.nextui-c-gpbAMl {
	height: 24px;
	width: 24px;
}
